<h1>All Tasks</h1>

<%= link_to 'New Task', new_task_path %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= link_to task.title, task %></strong><br>
      Description: <%= task.description %><br>
      Budget: <%= task.budget %><br>
      Deadline: <%= task.deadline %><br>
      <%= link_to 'Edit', edit_task_path(task) %> |
      <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
