<div id="<%= dom_id payment %>">
  <p>
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= payment.task_id %>
  </p>

  <p>
    <strong>Transaction:</strong>
    <%= payment.transaction_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

</div>
